/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-0);
  color: var(--text-color);
}

.most {
  box-shadow: 0 0 50px 10px rgb(101 163 13);
}

.least {
  box-shadow: 0 0 50px 10px rgb(185 28 28);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
